@{
    ViewData["Title"] = "Chat";
}

<section style="margin-left: 30%;width:100vh">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4" style="width:75%;margin-top:10%">
                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                         style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <i class="fas fa-angle-left"></i>
                        <p class="mb-0 fw-bold">Live chat</p>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="card-body">
                        <div class="form-outline">
                            <div id="chatmsg"></div>
                            <textarea class="form-control" id="message" rows="4"></textarea>
                            <button id="sendbutton" onclick="sendMessage()" class="sendMessage">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .welcomeword 
    {
        font-size: 16px;
        color:gray;
    }

    .sender-demo 
    {
        background-color: lightblue;        
    }

    .sender-demo1 {
        background-color: lightgreen;
        text-align: right;
    }

</style>

<script>

    //var chat = document.getElementById("chatmsg");
    //var messageParagraph = document.createElement('p');
    //messageParagraph.textContent = '正在等待使用者進入聊天室.......';
    //messageParagraph.className = 'welcomeword'; 
    //chat.appendChild(messageParagraph);


    //const targetElement = document.getElementById('username');
    //const observer = new MutationObserver(function (showmsg, observer)
    //{        
    //    console.log('目标元素的值已经变化了！');        
    //});

    //const config = { characterData: true, subtree: true };
    //observer.observe(targetElement, config);
    //setTimeout(function () 
    //{
    //    showmsg();
    //}, 3000); 
    getmessage();

    function showmsg()
    {

        var username = document.getElementById('username');
        var content = username.textContent;
        console.log(content);

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var rawvideo = JSON.stringify({
            "name": content,
            "message": "加入聊天室",
            "userId": "19",
        });
        var requestvideo = {
            method: 'POST',
            headers: myHeaders,
            body: rawvideo,
            redirect: 'follow'
        };

        fetch("https://localhost:7136/api/users/ChatToSpecificUser", requestvideo)
            .then(response => response.json())
            .then(result => {
                if (result.userId != null) {
                    console.log("成功加入");
                }
                else {
                    alert('請稍等');
                }
            })
            .catch(error => console.log('error', error));
    }
    function sendMessage()
    {
        var username = document.getElementById('username');
        var content = username.textContent;
        console.log(content);
        const message = $("#message").val();

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var rawvideo = JSON.stringify({
            "name": content,
            "message": message,
            "userId": "19",
        });
        var requestvideo = {
            method: 'POST',
            headers: myHeaders,
            body: rawvideo,
            redirect: 'follow'
        };

        fetch("https://localhost:7136/api/users/ChatToSpecificUser", requestvideo)
            .then(response => response.json())
            .then(result => {
                if (result.userId != null)
                {
                    console.log("成功");
                }
                else {
                    alert('請稍等');
                }
            })
            .catch(error => console.log('error', error));
           $("#message").val("");

    }
    function getmessage()
    {
        
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var rawvideo = JSON.stringify({            
            "userId": "19",
        });
        var requestvideo = {
            method: 'POST',
            headers: myHeaders,
            body: rawvideo,
            redirect: 'follow'
        };

        fetch("https://localhost:7136/api/users/GetChatContext", requestvideo)
            .then(response => response.json())
            .then(result => 
                {
                if (result.message != null) 
                {
                    $("#chatmsg").append(result.message);
                }
                else 
                {
                    alert('請稍等');
                }
            })
            .catch(error => console.log('error', error));
           $("#message").val("");
    }

</script>