
﻿@{
    var name = ViewBag.name;
    var id = ViewBag.id;
    Layout = null;
    var message = ViewBag.message;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComeNet.styles.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<header></header>
<body class="body">
    <p id="info" style="display:none">@message</p>
<div style="margin-top:0" >
        <img id="logo" src="~/picture/logo1.png">
        <div>
            <div style="max-height:100%" class="text-center">
                <img id="couple" src="~/picture/couple.png">
                
            </div>
            <div>
                <div id="slogan">
                    <p>Get noticed for who you are, not what you look like.</p>
                </div>
                <p id="context">You’re more than just a photo. You have stories to tell, and passions to share, and things to talk about that are more interesting than the weather. Because you deserve what dating deserves: better.</p>
                <div class="getstart">
                    <div class="container">
                        <a href="https://johnny666.online/Home/Login" class="button button-primary">Get Start</a>
                    </div>
                </div>

            </div>

        </div>
       
        
    </div>
</body>
<style>

    .body{
        max-height: 90vh;
        background-color: cadetblue;
    }

    html {
        font-size: 62.5%;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
    }

    h1 {
        margin-bottom: 0.5em;
        font-size: 3.6rem;
    }

    p {
        margin-bottom: 0.5em;
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .content {
        padding: 120px 0;
    }

    #logo
    {
        position: absolute;
        width: 300px;
        height: 180px;
        left: 69px;
        top: 10px;
      
    }


    #couple {
        position: absolute;
        width: 651px;
        height: 800px;
        left: 679px;
        top: 108px;
        background-color: rgba(254, 239, 227, 1);
    }

    #couple1 {
        position: absolute;
        width: 597px;
        height: 818px;
        left: 736px;
        top: 168px;
        opacity: 0.5;
        filter: blur(32px);
    }

    div p {
        position: absolute;
        width: 583px;
        height: 177px;
        left: 71px;
        top: 244px;
        font-family: 'Google Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 101.8%;
        letter-spacing: -0.01em;
        color: #1A1D32;
    }

    #slogan p {
        width: 583px;
        height: 177px;
    }

    #context {
        position: absolute;
        width: 520px;
        height: 120px;
        left: 71px;
        top: 458px;
        font-family: 'Google Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #1A1D32;
        opacity: 0.7;
    }

    .getstart {
        position: absolute;
        width: 190px;
        height: 20px;
        left: 441px;
        top: 624px;
        font-family: 'Google Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #F4EBE6;
    }
</style>
<style>
    .button {
        display: inline-block;
        margin-top: 20px;
        padding: 8px 25px;
        border-radius: 4px;
    }

    .button-primary {
        position: relative;
        background-color: #c0ca33;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 700;
        transition: color 0.3s ease-in;
        z-index: 1;
    }

        .button-primary:hover {
            color: #c0ca33;
            text-decoration: none;
        }

        .button-primary::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-color: #fff;
            border-radius: 4px;
            opacity: 0;
            -webkit-transform: scaleX(0.8);
            -ms-transform: scaleX(0.8);
            transform: scaleX(0.8);
            transition: all 0.3s ease-in;
            z-index: -1;
        }

        .button-primary:hover::after {
            opacity: 1;
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
        }

</style>

<script>
    var info = document.getElementById("info").textContent



    if (info != "load") 
    {
        toastr["success"]("@message");
    }
</script>

