@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img  id ="couple"src="~/picture/couple.png" >
    <img  id="couple1" src="~/picture/couple1.png" >
  
</div>
<div id="slogan">
    <p>Get noticed for who you are, not what you look like.</p>
</div>
<p id="context">You’re more than just a photo. You have stories to tell, and passions to share, and things to talk about that are more interesting than the weather. Because you deserve what dating deserves: better.</p>

<div class="getstart">
    <div class="container">        
        <a href="https://localhost:7136/Home/signup" class="button button-primary">Get Start</a>
    </div>
</div>
<style>
    #couple{
        position: absolute;
        width: 651px;
        height: 800px;
        left: 679px;
        top: 108px;
        background-color: rgba(254, 239, 227, 1);
    }
    #couple1 {
    position: absolute;
    width: 597px;
    height: 818px;
    left: 736px;
    top: 168px;
    opacity: 0.5;
    filter: blur(32px);
    }

   div p{
        position: absolute;
        width: 583px;
        height: 177px;
        left: 71px;
        top: 244px;
        font-family: 'Google Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 101.8%;
        /* or 59px */
        letter-spacing: -0.01em;
        color: #1A1D32;
    }

    #slogan p {
        width:583px;
        height:177px;
    }
    #context{
        position: absolute;
        width: 520px;
        height: 120px;
        left: 71px;
        top: 458px;
        font-family: 'Google Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;       
        color: #1A1D32;
        opacity: 0.7;
    }
    .getstart{
        position: absolute;
        width: 190px;
        height: 20px;
        left: 441px;
        top: 624px;
        font-family: 'Google Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #F4EBE6;
    }
</style>
