﻿@{    
    var name = ViewBag.name;
    var id = ViewBag.id;
    var alert = TempData["SuccessMessage"];    
    ViewData["Title"] = "HOME";

}

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<div class="indexpicture">
    <img class="indexpicture" src="~/picture/logo-wihte.png" alt="圖片描述">
</div>


<style>

    .indexpicture{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        margin-right:5%;
        opacity:0.9;
    }

  
    
</style>

<script>
   
    if (@alert != null) 
    {
        toastr["success"]("註冊成功");
    }

 </script>

   