@model ComeNet.Models.User
@{
    Layout = null;
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ComeNet.styles.css" asp-append-version="true" />

<div class="login-container animated fadeInDown bootstrap snippets bootdeys">
    <div class="loginbox bg-white">
        <div class="loginbox-title">SIGN UP</div>
        <div class="loginbox-social">
            <div class="social-title ">Connect with Your Social Accounts</div>
            <div class="social-buttons">
                <a href="https://www.facebook.com/v17.0/dialog/oauth?client_id=152727527773584&redirect_uri=https://johnny666.online/Home/Login&auth_type=rerequest&scope=email&public_profile" class="button-facebook">
                    <i class="social-icon fa fa-facebook"></i>
                </a>

            </div>
        </div>
        <div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">OR</div>
        </div>

        <form id="loginForm" asp-action="signup"  enctype="multipart/form-data">
            <div class="loginbox-textbox">
                <input type="text" id="name" asp-for="name" class="form-control" placeholder="姓名">
            </div>
            <div class="loginbox-textbox">
                <input type="text" id="email" asp-for="email" class="form-control" placeholder="信箱">
            </div>
            <div class="loginbox-textbox">
                <input type="text" id="password" asp-for="password" class="form-control" placeholder="密碼">
            </div>
            <div class="loginbox-textbox">
                <input type="text" id="gender" asp-for="gender" class="form-control" placeholder="性別">
            </div>
            <div class="loginbox-textbox">
                <input type="text" id="interest" asp-for="interest" class="form-control" placeholder="興趣">
            </div>
            <div class="loginbox-textbox">
                <input type="text" id="job" asp-for="job" class="form-control" placeholder="職業">
            </div>
            <div class="loginbox-textbox">
                <input type="text" id="age" class="form-control" asp-for="age" placeholder="年紀">
            </div>
            <div class="loginbox-textbox">
                <input type="text" id="birthday" class="form-control" asp-for="birthday" placeholder="生日">
            </div>
            <div class="loginbox-textbox">                
                <select id="horoscope" asp-for="horoscope">
                    <option value="選擇星座">選擇星座</option>
                    <option value="牡羊座">牡羊座</option>
                    <option value="金牛座">金牛座</option>
                    <option value="雙子座">雙子座</option>
                    <option value="巨蟹座">巨蟹座</option>
                    <option value="獅子座">獅子座</option>
                    <option value="處女座">處女座</option>
                    <option value="天秤座">天秤座</option>
                    <option value="天蠍座">天蠍座</option>
                    <option value="射手座">射手座</option>
                    <option value="摩羯座">摩羯座</option>
                    <option value="水瓶座">水瓶座</option>
                    <option value="雙魚座">雙魚座</option>
                </select>
            </div>
            <div class="loginbox-textbox">
                <p>選擇一張相片</p>
                <input type="file" id="myimg" name="myimg" class="form-control" placeholder="照片">
            </div>
            <div class="loginbox-textbox">
                <select  id="question" asp-for="question">
                    <option value="選擇問題">選擇問題</option>
                    <option value="請問你是狗派還是貓派?">請問你是狗派還是貓派?</option>
                    <option value="喜歡甜食還是喜歡鹹食?">喜歡甜食還是喜歡鹹食?</option>
                    <option value="最討厭的食物?">最討厭的食物?</option>
                </select>
                <input type="text" id="answer" asp-for=answer class="form-control" placeholder="回答">
            </div>                      
            <div class="loginbox-forgot">
                <a href=""></a>
            </div>
            <div class="loginbox-submit">
                <input type="submit" class="btn btn-primary btn-block" value="註冊">
            </div>
        </form>
        <div class="loginbox-signup">
            <a href="#register.html"></a>
        </div>
    </div>
    <div class="logobox">
        <a asp-controller="home" asp-action="home" class="btn btn-primary btn-block"> 返回</a>
        <a asp-controller="home" asp-action="Login" class="btn btn-primary btn-block"> 登入</a>
    </div>
</div>
<script>

    //document.getElementById("loginForm").addEventListener("submit", function (event) 
    //{
    //    event.preventDefault();

    //    var username = document.getElementById("username").value;
    //    var email = document.getElementById("email").value;
    //    var password = document.getElementById("password").value;
    //    var gender = document.getElementById("gender").value;
    //    var interest = document.getElementById("interest").value;
    //    var age = document.getElementById("age").value;
    //    var horoscope = document.getElementById("horoscope").value;
    //    var question = document.getElementById("question").value;
    //    var answer = document.getElementById("answer").value;



    //    var myHeaders = new Headers();
    //    myHeaders.append("Content-Type", "application/json");



    //    var raw = JSON.stringify
    //        ({
    //            "name": username,
    //            "email": email,
    //            "password": password,
    //            "gender": gender,
    //            "interest": interest,
    //            "age": age,
    //            "horoscope": horoscope,
    //            "answer": answer,
    //            "question": question
    //        });


    //    var requestOptions = {
    //        method: 'POST',
    //        headers: myHeaders,
    //        body: raw,
    //        redirect: 'follow'
    //    };

    //    fetch("shttps://localhost:7136/api/users/signup", requestOptions)
    //        .then(response => response.json())
    //        .then(result => {
    //            if (result.access_token != null) {
    //                alert('註冊成功');
    //                window.location.href = 'fhttps://localhost:7136/home/index';
    //            }
    //            else {
    //                alert('註冊失敗');
    //                //window.location.reload();
    //            }
    //        })
    //        .catch(error => console.log('error', error));
    //})
 
</script>
<style>
    

    .login-container {
        position: relative;
        margin: 3% auto;
        max-width: 340px;
    }

        .login-container .loginbox {
            position: relative;
            width: 340px !important;
            height: auto !important;
            padding: 0 0 20px 0;
            -webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
            -moz-box-shadow: 0 0 14px rgba(0,0,0,.1);
            box-shadow: 0 0 14px rgba(0,0,0,.1);
        }

    .bg-white {
        background-color: #fff !important;
    }

    .login-container .loginbox .loginbox-title {
        position: relative;
        text-align: center;
        width: 100%;
        height: 35px;
        padding-top: 10px;
        font-family: 'Lucida Sans','trebuchet MS',Arial,Helvetica;
        font-size: 20px;
        font-weight: normal;
        color: #444;
    }

    .login-container .loginbox .loginbox-social {
        padding: 0 10px 10px;
        text-align: center;
    }

        .login-container .loginbox .loginbox-social .social-title {
            font-size: 14px;
            font-weight: 500;
            color: #a9a9a9;
            margin-top: 10px;
        }

        .login-container .loginbox .loginbox-social .social-buttons {
            height: 80px;
            padding: 15px 35px;
            text-align: center;
        }

            .login-container .loginbox .loginbox-social .social-buttons .button-facebook {
                float: left;
                border: 2px solid #3b5998;
                color: #3b5998;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 30px;
                background-color: #fff;
            }

            .login-container .loginbox .loginbox-social .social-buttons .button-twitter {
                float: left;
                border: 2px solid #29c1f6;
                color: #29c1f6;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 30px;
                background-color: #fff;
            }

            .login-container .loginbox .loginbox-social .social-buttons .button-google {
                float: left;
                border: 2px solid #ef4f1d;
                color: #ef4f1d;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 30px;
                background-color: #fff;
            }

            .login-container .loginbox .loginbox-social .social-buttons .button-facebook i {
                font-size: 26px;
                line-height: 50px;
            }

            .login-container .loginbox .loginbox-social .social-buttons .button-twitter i {
                font-size: 26px;
                line-height: 50px;
            }

            .login-container .loginbox .loginbox-social .social-buttons .button-google i {
                font-size: 26px;
                line-height: 50px;
            }

    .login-container .loginbox .loginbox-or {
        position: relative;
        text-align: center;
        height: 20px;
    }

        .login-container .loginbox .loginbox-or .or-line {
            position: absolute;
            height: 1px;
            top: 10px;
            left: 40px;
            right: 40px;
            background-color: #ccc;
        }

        .login-container .loginbox .loginbox-or .or {
            position: absolute;
            top: 0;
            -lh-property: 0;
            left: -webkit-calc(50% - 25px);
            left: -moz-calc(50% - 25px);
            left: calc(50% - 25px);
            width: 50px;
            height: 20px;
            background-color: #fff;
            color: #999;
            margin: 0 auto;
        }

    .login-container .loginbox .loginbox-textbox {
        padding: 10px 40px;
    }

        .login-container .loginbox .loginbox-textbox .form-control {
            -webkit-border-radius: 3px !important;
            -webkit-background-clip: padding-box !important;
            -moz-border-radius: 3px !important;
            -moz-background-clip: padding !important;
            border-radius: 3px !important;
            background-clip: padding-box !important;
        }

    .login-container .loginbox .loginbox-forgot {
        padding-left: 40px;
    }

        .login-container .loginbox .loginbox-forgot a {
            font-size: 11px;
            color: #666;
        }

    .login-container .loginbox .loginbox-submit {
        padding: 10px 40px;
    }

    .login-container .loginbox .loginbox-signup {
        text-align: center;
        padding-top: 10px;
    }

        .login-container .loginbox .loginbox-signup a {
            font-size: 13px;
            color: #666;
        }

    .login-container .logobox {
        width: 340px !important;
        height: 50px !important;
        padding: 5px;
        margin-top: 15px;
        -webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 14px rgba(0,0,0,.1);
        box-shadow: 0 0 14px rgba(0,0,0,.1);
        background-color: #fff;
        text-align: left;
    }

</style>
