@{
    var name = ViewBag.name;
    var id = ViewBag.id;
    ViewData["Title"] = "Suggestion";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<div id="remainingTime"></div>
<style>
    
    #remainingTime {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: bold; 
        background-color: papayawhip;
        padding: 10px; 
    }
</style>
<h2 class="title_spectial">抽卡</h2>
<div class="container bootstrap snippets bootdey">
    <div id="suggestion" class="row">         
    </div>
</div>

<style>
    .suggestion{
        position: absolute;
        top: 50%;
        left: 50%;
        
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .title_spectial {
        text-align: center;
        font-weight: 600;
        position: relative;
        margin-bottom: 60px;
        text-transform: uppercase;
        font-size: 24px;
    }
   

    .p-lg {
        padding: 30px;
    }

    .lazur-bg {
        background-color: #23c6c8;
        color: #ffffff;
    }

    .red-bg {
        background-color: #ed5565;
        color: #ffffff;
    }

    .navy-bg {
        background-color: #1ab394;
        color: #ffffff;
    }

    .yellow-bg {
        background-color: #f8ac59;
        color: #ffffff;
    }

    .widget-head-color-box {
        border-radius: 5px 5px 0px 0px;
        margin-top: 10px;
    }

    .m-b-md {
        margin-bottom: 20px;
        height:100px;
        width:100px;
    }

    .no-margins {
        margin: 0 !important;
    }

    .font-bold {
        font-weight: 600;
    }

    img.circle-border {
        border: 6px solid #FFFFFF;
        border-radius: 50%;
    }

    .widget-text-box {
        padding: 20px;
        border: 1px solid #e7eaec;
        background: #ffffff;
    }

    .media-heading {
        margin-top: 0;
        margin-bottom: 5px;
    }
                </style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>    
    toastr.options = {
        "closeButton": false,
        "debug": true,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    callApiAtEight();

    function callApiAtEight()
    {
        
            var myHeaders = new Headers();

            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
                "userid": @id,
            });
            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("https://localhost:7136/api/users/GetSuggestionFriend", requestOptions)
                .then(response => response.json())
                .then(data =>
                {

                    var teamMembersContainer = document.getElementById('suggestion');

                if (data.length == 0) 
                {
                    teamMembersContainer.innerHTML = "";
                }
                else
                {
                    data.forEach(member => {

                        const memberHtml = `
                                    <p  style="display:none;" id=suggestionid>${member.id}</p>
                                <div class="col-md-5 suggestion">
                                <div class="widget-head-color-box lazur-bg p-lg text-center">
                                    <div class="m-b-md">
                                        <h2 class="font-bold no-margins">
                                                ${member.name}
                                        </h2>
                                        <small></small>
                                    </div>
                                        <img src="${member.picture}" class="img-circle circle-border m-b-md" alt="profile">
                                    <div>
                                                <span>${member.age}</span> |
                                                <span>${member.gender}</span> |
                                                <span>${member.interest}</span>
                                    </div>
                                </div>
                                <div class="widget-text-box">
                                        <h4 class="media-heading"></h4>
                                        <p>哈囉!我是${member.name}一起做個朋友吧!</p>
                                    <div class="text-right">
                                        <a id="agree" class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i>同意</a>
                                        <a id="reject" class="btn btn-xs btn-info"><i class="fa fa fa-thumbs-down"></i>拒絕</a>
                                    </div>
                                </div>
                            </div>
                                              `
                        teamMembersContainer.innerHTML = memberHtml;

                    });
                }



                    
                })
                .catch(error => {
                    console.error('Error fetching team member data:', error);
                });
            
        
    }
</script>
<script>

    function updateRemainingTime()
    {
        
        var currentTime = new Date();
        var eightPM = new Date();
        eightPM.setHours(20, 0, 0, 0); //  20:00:00

        var timeDiff = eightPM - currentTime;

        if (timeDiff > 0) 
        {
            
            var hours = Math.floor(timeDiff / (1000 * 60 * 60));
            var minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);
            var timeUntilEight = hours + "小時 " + minutes + "分鐘 " + seconds + "秒";

            document.getElementById("remainingTime").textContent = "距離下次抽卡時間：" + timeUntilEight;
        } else 
        {            
            callApiAtEight();
        }
       
    }
    setInterval(updateRemainingTime, 1000);
    updateRemainingTime();

    document.addEventListener('click', function (event) 
    {

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var rejectid = document.getElementById('suggestionid')
        var userid = @id

            console.log(rejectid.textContent);
            console.log(userid);

        if (event.target.id === 'agree')
        {
           console.log("agree");

            var chatmember = JSON.stringify
                (
                    {
                        "userid": userid,
                        "agreeid": rejectid.textContent
                    });
            var requestroomid =
            {
                method: 'POST',
                headers: myHeaders,
                body: chatmember,
                redirect: 'follow'
            };
            fetch("https://localhost:7136/api/users/CreateAgreeFriend", requestroomid)
                .then(response => response.json())
                .then(result => {

                    if (result.message != null) 
                    {
                        toastr["success"](result.message);
                        callApiAtEight();
                    }
                })
                .catch(error => console.log('error', error));
        }

        if (event.target.id === 'reject')
        {
            console.log("reject");

            var chatmember = JSON.stringify
            (
                {
                        "userid": userid,
                        "rejectid": rejectid.textContent,
                });
            var requestroomid =
            {
                method: 'POST',
                headers: myHeaders,
                body: chatmember,
                redirect: 'follow'
            };
            fetch("https://localhost:7136/api/users/CreateRejectFriend", requestroomid)
                .then(response => response.json())
                .then(result => {

                    if (result.message != null) 
                    {
                        toastr["success"](result.message);
                        callApiAtEight();
                       
                    }
                })
                .catch(error => console.log('error', error));           
        }
    });

</script>